{% extends "base.html" %} {% block head %}
<title>Mindful Me</title>
{% endblock head %} {% block hero %}

<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Mindful Me!!!</h1>
        <h2 data-aos="fade-up" data-aos-delay="400" style="text-align: justify">
          Continuous advancements in healthcare prompt a relentless pursuit of
          enhanced patient satisfaction and improved outcomes. Employing
          artificial intelligence (AI) to furnish tailored suggestions and
          forecasts rooted in patients' symptoms and medical backgrounds stands
          out as a promising avenue. Hence, this initiative outlines the
          creation of a chatbot capable of not only identifying symptoms but
          also offering personalized hospital recommendations tailored to
          individual medical requirements.
        </h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a
              href="#about"
              class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center"
            >
              <span>Login</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img
          src="{{ url_for('static',filename='custom/stress.png') }}"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

{% endblock hero %} {% block main %}

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="row gx-0">
      <div
        class="col-lg-6 d-flex flex-column justify-content-center"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="content">
          <h1>BMI</h1>
          <h2>
            The body mass index (BMI) is that the metric currently in use for
            outlining anthropometric height and weight characteristics in adults
            and for classifying them into groups.
          </h2>
          <div class="text-center text-lg-start">
            <a
              href="login"
              class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center"
            >
              <span>Check BMI</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>

      <div
        class="col-lg-6 d-flex align-items-center"
        data-aos="zoom-out"
        data-aos-delay="200"
      >
        <img
          src="{{ url_for('static',filename='custom/about.png') }}"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<section id="our-services">
  <div class="row">
    <h2 class="section-heading">Our Services</h2>
  </div>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="icon-wrapper">
          <i class="fas fa-hammer"></i>
        </div>
        <h3>Therapy Sessions</h3>
        <p>
          Access professional therapy sessions tailored to your needs. Our
          licensed therapists provide confidential support and guidance to help
          you navigate challenges and improve your mental well-being.
        </p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="icon-wrapper">
          <i class="fas fa-brush"></i>
        </div>
        <h3>Support Groups</h3>
        <p>
          Join supportive communities through our various support groups.
          Connect with individuals facing similar struggles, share experiences,
          and receive encouragement in a safe and understanding environment.
        </p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="icon-wrapper">
          <i class="fas fa-wrench"></i>
        </div>
        <h3>Psychiatric Consultations</h3>
        <p>
          ur life coaching services empower individuals to set and achieve
          meaningful goals, cultivate positive habits, and navigate life
          transitions with confidence. Unlock your full potential and live a
          fulfilling life.
        </p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="icon-wrapper">
          <i class="fas fa-truck-pickup"></i>
        </div>
        <h3>Physical Activities</h3>
        <p>
          Engage in physical activities tailored to promote mental well-being.
          From yoga and meditation to outdoor adventures
        </p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="icon-wrapper">
          <i class="fas fa-broom"></i>
        </div>
        <h3>Education Resources</h3>
        <p>
          Access our library of educational resources covering various mental
          health topics. From articles and books to online courses
        </p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="icon-wrapper">
          <i class="fas fa-plug"></i>
        </div>
        <h3>Wellness Workshops</h3>
        <p>
          Participate in our wellness workshops designed to promote mental
          well-being and resilience. Learn practical strategies.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- End About Section -->

<!-- ======= Features Section ======= -->
<section id="features" class="features">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>Features</h2>
      <p>What makes our website unique?</p>
    </header>

    <div class="row">
      <div class="col-lg-6">
        <img
          src="{{ url_for('static',filename='img/features.png') }}"
          class="img-fluid"
          alt=""
        />
      </div>

      <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
        <div class="row align-self-center gy-4">
          <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
            <div class="feature-box d-flex align-items-center">
              <i class="bi bi-check"></i>
              <h3>Faster analysis</h3>
            </div>
          </div>

          <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
            <div class="feature-box d-flex align-items-center">
              <i class="bi bi-check"></i>
              <h3>Easy to use</h3>
            </div>
          </div>

          <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
            <div class="feature-box d-flex align-items-center">
              <i class="bi bi-check"></i>
              <h3>Personalized meal plans</h3>
            </div>
          </div>

          <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
            <div class="feature-box d-flex align-items-center">
              <i class="bi bi-check"></i>
              <h3>Health tips</h3>
            </div>
          </div>

          <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
            <div class="feature-box d-flex align-items-center">
              <i class="bi bi-check"></i>
              <h3>Easy to share</h3>
            </div>
          </div>

          <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
            <div class="feature-box d-flex align-items-center">
              <i class="bi bi-check"></i>
              <h3>Accurate results</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / row -->
  </div>
</section>
<!-- End Features Section -->

<!-- ======= Team Section ======= -->
<section id="team" class="team">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>Team</h2>
      <p>Our hard working team</p>
    </header>

    <div class="row gy-4">
      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="member">
          <div class="member-img">
            <img
              src="{{ url_for('static',filename='img/team/team-1.jpeg') }}"
              class="img-fluid"
              alt=""
            />
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Rahul Yadav</h4>
            <span>63_TE_IT_B</span>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="member">
          <div class="member-img">
            <img
              src="{{ url_for('static',filename='img/team/team-2.jpeg') }}"
              class="img-fluid"
              alt=""
            />
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Shivam Yadav</h4>
            <span>64_TE_IT_B</span>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="member">
          <div class="member-img">
            <img
              src="{{ url_for('static',filename='img/team/team-3.jpeg') }}"
              class="img-fluid"
              alt=""
            />
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Sunny Majrekar</h4>
            <span>67_TE_IT_B</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Team Section -->

{% endblock main %}
